form {
    width: 40%;
    margin: auto;
}
form div {
    display: flex;
    flex-direction: row;
    height: 40px;
    margin-top: 10px;
}
input.textinput {
    border-radius: 5px 0 0 5px;
    border-width: 1px 0 1px 1px;
    width: 100%;
}
input.submit {
    border-radius: 0 5px 5px 0;
    height: 43.6px;
    bottom: 0;
    margin: auto;
    border-width: 1px 1px 1px 0;
    font-size: 18px;
}
tr.headers {
    height: 50px;
}
tr.headers th {
    border: solid var(--border-color);
    border-width: 2px 0;
}
div.table {
    background-color: var(--body-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin: 10px auto;
    padding: 20px;
    width: 80%;
}
table {
    width: 100%;
    font-size: 15px;
    border-collapse: collapse;
    text-align: left;
    border-spacing: 5px;
}
tr.dark {
    background-color: var(--alt-body-color);
}
tr.bright {

}
td {
    padding: 5px;
}
td.moreinfo {
    width: 100%;
}
td.moreinfo t {
    display: block;
    text-align: center;
}
td.moreinfo button {
    height: 30px;
    margin: 10px 5px;
}
td.moreinfo button.sendreq {
    border: solid 1px var(--button-color);
    color: var(--button-color);
    background-color: transparent;
    transition-duration: 0.2s;
    border-radius: 5px;
}
td.moreinfo button.sendreq:hover {
    background-color: var(--button-color);
    color: var(--body-color);
    cursor: pointer;
}
td.moreinfo button.select {
    border: none;
    border-radius: 5px;
    color: var(--alt-text-color);
    background-color: var(--button-color);
    transition-duration: 0.2s;
}
td.moreinfo button.select:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
}
td.moreinfo button.right {
    float: right;
}
table.path {
    background-color: transparent;
    width: 95%;
    margin: 10px auto;
}
table.path td {
    font-size: 0.7em;
}
table.path td,
table.path th {
    border: solid 1px var(--text-color);
    padding: 10px;
}
table.path th {
    background-color: var(--alt-body-color);
}
table.cost th {
    padding: 3px 10px;
}
table.cost td {
    padding: 10px;
}
table.cost th,
table.cost td {
    border: solid var(--border-color);
    border-width: 1px 0 0 0;
}
h3 {
    text-align: center;
}
div#upt_div {
    width: 100%;
    padding: 10px;
    background-color: var(--body-color);
    border-radius: 5px;
    border: solid 1px var(--border-color);
    line-height: 1.5em;
}
div#upt_div button {
    border: solid 1px var(--button-color);
    color: var(--button-color);
    background-color: #00000000;
    transition-duration: 0.2s;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 10px;
    margin-bottom: 20px;
}
div#upt_div button:hover {
    background-color: var(--button-color);
    color: var(--body-color);
    cursor: pointer;
}
div#upt_div span.loader {
    margin-bottom: 100px;
}
