html {
    font-size: 20px;
    background-color: #f5f8fa;
    font-family: Raleway, sans-serif;;
}
body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
}
fieldset {
    display: flex;
    flex-direction: row;
}
form {
    background-color: white;
    border: solid lightgrey 1px;
    border-radius: 10px;
    margin-left: 0;
    margin-right: 0;
    padding: 20px;
    font-size: 20px;
}
input.textinput,
button.date_from {
    border: solid lightgrey 1px;
    border-radius: 5px;
    height: 40px;
}
div.row {
    display: flex;
    flex-direction: row;
}
input.submit,
button.submit {
    border: solid lightgrey 1px;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    height: 50px;
    width: 150px;
    font-size: 20px;
    float: right;
    transition-duration: 0.2s;
}
input.submit:hover,
button.submit:hover {
    cursor: pointer;
    background-color: blue;
}
label.error {
    color: red;
    font-size: 20px;
}
div.head {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    background-color: #3B3B49;
    height: 50px;
    z-index: 999;
    padding: 10px;
}
div.head h6 {
    margin: 0 20px;
    color: white;
    font-size: 30px;
    width: max-content;
    align-self: center;
}
div.head h2 {
    display: flex;
    width: max-content;
    margin: 0 10px;
    font-size: 20px;
}
div.head a {
    align-self: center;
    color: darkgrey;
    text-decoration: none;
}
div.head a:hover {
    color: lightgrey;
}
button.btn-link {
    font-size: inherit;
    border: none;
    background-color: #00000000;
    color: dodgerblue;
    transition-duration: 0.2s;
}
button.btn-link:hover {
    color: rebeccapurple;
    cursor: pointer;
    text-decoration: underline;
}
input.error {
    border-color: red;
}
t.error {
    color: red;
}
h2 a.active {
    color: white;
}
