html {
    font-size: 20px;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: Raleway, sans-serif;
    transition-duration: 0.2s;
}
body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
}
fieldset {
    display: flex;
    flex-direction: row;
}
form {
    background-color: var(--body-color);
    border: solid 1px var(--border-color);
    border-radius: 10px;
    margin-left: 0;
    margin-right: 0;
    padding: 20px;
    transition-duration: 0.2s;
}
input.textinput,
button.date_from {
    border: solid 1px var(--border-color);
    border-radius: 5px;
    height: 40px;
    background-color: transparent;
    color: var(--text-color);
    padding: 0 10px;
    transition-duration: 0.2s;
}
div.row {
    display: flex;
    flex-direction: row;
}
input.submit,
button.submit {
    border: solid 1px var(--border-color);
    border-radius: 5px;
    background-color: var(--button-color);
    height: 50px;
    width: 150px;
    float: right;
    font-size: 1em;
    transition-duration: 0.2s;
    color: var(--alt-text-color);
}
input.submit:hover,
button.submit:hover {
    cursor: pointer;
    background-color: var(--button-hover-color);
}
div.head {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    background-color: #3B3B49;
    height: 50px;
    z-index: 999;
    padding: 10px;
}
div.head h6 {
    margin: 0 20px;
    color: white;
    font-size: 1.8em;
    width: max-content;
    align-self: center;
}
div.head h2 {
    display: flex;
    width: max-content;
    margin: 0 10px;
    font-size: 0.95em;
}
div.head a {
    align-self: center;
    color: darkgrey;
    text-decoration: none;
}
div.head a:hover {
    color: lightgrey;
}
button.btn-link {
    font-size: inherit;
    border: none;
    background-color: transparent;
    color: var(--button-color);
    transition-duration: 0.2s;
}
button.btn-link:hover {
    color: var(--button-hover-color);
    cursor: pointer;
    text-decoration: underline;
}
input.error {
    border-color: red;
}
t.error {
    color: red;
    font-size: 0.8em;
}
h2 a.active {
    color: white;
}
t.loaderText {
    display: none;
    text-align: center;
    font-size: 1.2em;
}
button.darkmode, button.lightmode {
    height: 100%;
    aspect-ratio: 1;
    margin-left: auto;
    margin-right: 0;
    background-size: cover;
    background-color: transparent;
    border: none;
    filter: invert();
}
button.darkmode:hover, button.lightmode:hover {
    cursor: pointer;
}
button.darkmode {
    background-image: url("https://cdn-icons-png.flaticon.com/128/12/12548.png");
}
button.lightmode {
    background-image: url("https://cdn-icons-png.flaticon.com/128/66/66275.png");
}

.loader {
    margin: 50px auto 0 auto;
    display: none;
    color: #3B3B49;
    font-size: 10px;
    aspect-ratio: 1;
    width: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
}
@keyframes mulShdSpin {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em,
        2em -2em 0 0em, 3em 0 0 -1em,
        2em 2em 0 -1em, 0 3em 0 -1em,
        -2em 2em 0 -1em, -3em 0 0 -1em,
        -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em,
        3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em,
        -2em 2em 0 -1em, -3em 0 0 -1em,
        -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em,
        2em -2em 0 0, 3em 0 0 0.2em,
        2em 2em 0 0, 0 3em 0 -1em,
        -2em 2em 0 -1em, -3em 0 0 -1em,
        -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
        3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em,
        -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
        3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em,
        -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
        3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0,
        -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em,
        3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
        -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em,
        3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
        -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

